@import 'app/components/resume/mediaueries.scss';

.section {
  position: relative;
  padding: var(--y-spacing) 0 var(--y-spacing);
  margin-top: 10%;
 
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background: url("/gradient-blob.svg") center top no-repeat;
  background-size: contain;
  padding-top: 3rem;
  @include respond-below(xs) {
    align-items: flex-start;
  }
}

.cardGroup{
  position: relative;
  z-index: 1;
  transform: scale(0.7); /* Scale down to 90% */
  transform-origin: top center; /* Keep scaling centered */
  margin-bottom: 0.5rem;
  &:hover{
    .card{
      &.cardV1{
        transform: rotate(-5deg) translateY(-2%) !important;
      }
      &.cardV2{
        transform: rotate(5deg) translateY(2%) !important;
      }
      .figure{
        top: 10%;
      }
    }
  }
}
.card {
  position: relative;

  background-color: rgba(0, 0, 0, 0.5);;
  border-radius: 2rem;
  padding: 0.5rem;
  aspect-ratio: 3 / 4;
  max-width: 38rem;
  transition: all .3s ease;
  @include respond-below(sm) {
    max-width: 22rem;
    border-radius: 1rem;
  }

  &.cardV1 {
    right: -20%;
    /*transform: rotate(-5deg);*/
    .cardInner{
      
      &:after {
        content: '';
        
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4rem;
      }
    }
  }

  &.cardV2 {
    position: absolute;
    bottom: -5%; /* Reduced from -10% */
    z-index: -1;
    left: 30%;
    width: 90%;
    height: 100%;
    transform-origin: top center; /* Ensures scaling/positioning is consistent */
    
    .cardInner {
      background-image: url('/code-snippet.svg');
      background-color: #1E1F22;
      padding: 3rem;
    }
  }
  

  .cardInner {
    position: relative;
    height: 100%;
    padding: 3rem;
    overflow: hidden;
    border-radius: 2rem;
    background-color: white;
    background-image: url("/spiral.svg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;

    .cardTitle {
      font-size: 30px;
      color: red;
      font-weight: bolder;
    }

    .cardSectionTitle {
      font-size: 22px;
      color: black;
      font-weight: bold;
    }

    .cardDesc {
      font-size: 20px;
      color: black;
      font-weight: bold;
    }

    p {
      position: relative;
      overflow: hidden;
      max-height: 14rem;

      font-size: 20px;
      color: black;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    hr {
      margin: 1rem 0;
      border: 0;
    }

  }
  .figure{
    position: absolute;
    right: -2rem;
    top: 15%;
    width: 7rem;
    height: 7rem;
    border: 2px solid hsl(var(--color-white));
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1rem 5rem 1rem hsla(var(--color-black), .2);
    transition: all .3s ease;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .pseudo {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > * {
      display: inline-block;
      margin: 0;
      width: 6rem;
      height: 1.5rem;
      background-color: hsl(0, 0%, 90%);

      &:nth-(15n + 1) {
        width: 6rem;
      }

      &:nth-child(15n + 2) {
        width: 4rem;
      }

      &:nth-child(15n + 3) {
        width: 3rem;
      }

      &:nth-child(15n + 4) {
        width: 8rem;
      }

      &:nth-child(15n + 5) {
        width: 2rem;
      }

      &:nth-child(15n + 6) {
        width: 4rem;
      }

      &:nth-child(15n + 7) {
        width: 5rem;
      }

      &:nth-child(15n + 8) {
        width: 5rem;
      }

      &:nth-child(15n + 9) {
        width: 3rem;
      }

      &:nth-child(15n + 10) {
        width: 6rem;
      }

      &:nth-child(15n + 11) {
        width: 1rem;
      }

      &:nth-child(15n + 12) {
        width: 3rem;
      }

      &:nth-child(15n + 13) {
        width: 2rem;
      }

      &:nth-child(15n + 14) {
        width: 8rem;
      }

      &:nth-child(15n + 15) {
        width: 10rem;
      }
    }
  }
}



/* Button styles */
.downloadButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;  /* Center the button horizontally */
  margin-top: -5rem;  /* Adjust spacing between cards and button */
  border-radius: 5rem;
}

.downloadButton {
  padding: 1rem 2rem;
  background-color: yellow;  /* Change to your desired color */
  color: black;
  font-size: 18px;
  border-radius: 5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #008cba;  /* Darker shade on hover */
  }
}
